@import url('../style.css');

.navbar {
	margin-bottom: 30px;
}
.nav-link-search {
	background: url(../ico/Black_Search.ico) no-repeat;
	margin-top: 12px;
    margin-left: 30px;
}
.nav-link-user{
	background: url(../ico/man_user.ico) no-repeat;
	margin-top: 12px;
    margin-left: 30px;
}
.container {
	margin-top: 20px;
	margin-bottom: 20px;
	

}
.post-img img {
	/*width: 255px;*/
 height: 247px;
 margin: 0;
}
.post-title a {
	text-decoration: none;
	color: rgb(0,0,0);
 font-size: 22px;
 font-weight: 700;
}
.btn {
	margin: 0 auto;
	margin-top: 20px;
	border-color: rgb(65,233,255);
	color: rgb(65,233,255);
	background-color: rgb(255,255,255);
	width: 170px;
	height: 50px;
}



